*{
    box-sizing: border-box;
    outline: 1px solid red;
    margin-top:0%;
    padding-top: 0%;
    scroll-behavior: smooth;
}
body{
    margin:0px;
    padding: 0px;
    background-image: url('images/backimg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.header{
    background-color:rgba(0, 0, 0, 0.597);
    height: 55vh;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 2%;
}


.nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    
}
.rems{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    
    
}
.nav ul li{
    list-style: none;
    
    
}

.nav ul li a{
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    color: white;
    transition: .3s ease;

}
.nav ul li a:hover{
    color: orangered;
}
.down{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    font-family: 'Russo One';
    line-height: 50px;
    
    
    
}
.down h1{
    font-size:25px;
    color: rgb(187, 255, 0);
}
.fa-angle-down{
    font-size: 40px;
    text-decoration: none;
    color: white;
    transition: .5s ease;
}
.rfa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0%;
}
.fa-angle-down:hover{
    
    color: orangered;
}

.auth{
    height: 16vh;
    display: flex;
    justify-content: space-between;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2%;
}
.auth p{
    height: 40px;
    width: 180px;
    font-family: 'Russo One';
}
.auth p a{
    text-decoration: none;
    color: black;
}

.signin{
    background: #23eddf56;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s ease;
}
.signin:hover{
    background: rgba(255, 68, 0, 0.371);
}
.signup{
    background:#35ae174a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s ease;
    
}
.signup:hover{
    background: rgba(255, 255, 255, 0.439);
}
.footer{
    height: 20.5%;
    width: 100%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.796);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer h1{
    margin-top: 2%;
    color: white;
    font-size: 18px;
    font-family: 'Russo One';
    
}
.footer p{
    color: white;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer .links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .links p a i{
    color: white;
    transition: .3s ease;
}
.footer .links p a i:hover{
    color:orangered;
}

/* About Section */
*{
    margin: 0%;
    
}
.about{
    background-image: url(images/abtbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "Russo One";
    transition: .3s ease;
    border-radius: 20px;
}
.master{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.kichwa{
    text-align: center;
    margin-top: 2%;
}
div .what{
    background-color: rgba(0, 0, 0, 0.583);
    height: 30vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div .what p{
    padding: 2%;
}
div .ingredients{
    background-color: rgba(0, 0, 0, 0.583);
    height: 60vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
div .ingredients ul{
    line-height: 30px;
}

div .vision{
    background-color: rgba(0, 0, 0, 0.583);
    height: 27vh;
    padding: 2%;
    border-radius: 20px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div .customersat{
    background-color: rgba(0, 0, 0, 0.583);
    height: 27vh;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
div .employeesat{
    background-color: rgba(0, 0, 0, 0.583);
    height: 27vh;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-abt{
    padding: 5%;
    line-height: 25px;
}
.right-abt{
    padding: 5%;
    line-height: 25px;
}

@media only screen and (max-width:720px){
    body{
        width: 100%;
        padding: 1%;
        font-size: 40%;
        
    }
    .master{
        grid-template-columns: 1fr;
    }
    .auth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .signin{
        margin-top: 2.5%;
    }
    .signup{
        margin-bottom: 2.5%;

    } */
    .down{
        font-size: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        font-size: 50%;
    }
    .down h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
    }
    

}
